* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: "Roboto";
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
}
/*  article birthday 06102022 */
article {
  margin: 2% 2%;
}
#d06102022 {
  border: 2px double gold;
  border-radius: 10px;
  background-color: hsl(192, 5%, 4%);
  color: seashell;
  font-family: "Roboto";
}
.articleIntro {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articleIntro div{
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted goldenrod;

}

.articleIntro h3 {
  font-size: 32px;
  font-style: italic;
}




/*  article introduction */
#introduction {
  margin: 2% 2%;
  background-color: greenyellow;
  border: 2px darkblue dotted;
}
#introduction h1 {
  text-align: center;
  margin: 5px 0px 15px 0px;
}

#introduction p {
  padding: 10px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

#introduction img {
  margin: 0px auto;
  padding: 0px 25%;
  width: 360px;
  height: 360px;
}

#doggoAndTheChicks {
  margin: 15px 2%;
  background-color: lavender;
  border: 2px darkblue dotted;
  border-radius: 5px;
}
#doggoAndTheChicks h3 {
  padding: 10px 0px;
  text-align: center;
}
#doggoAndTheChicks p {
  text-align: center;

}
#doggoAndTheChicks section {
  display: flex;
}
#doggoAndTheChicks div {
  box-sizing: border-box;
  margin: 10px auto;
  width: 360px;
  background-color: antiquewhite;
  border: 0.5px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px grey;
}
#doggoAndTheChicks div img {
  border: 1px black solid;
  box-sizing: border-box;
  margin: 10px 20px;
  width: 320px;
  height: 320px;
}

#doggoAndTheChicks div figcaption {
  font-style: italic;
  text-align: justify;
  margin: 5px 5px;
  padding: 5px 5px;
}

#colorsAndFonts {
  margin: 15px 2%;
  background-color: whitesmoke;
  border: 2px goldenrod dotted;
  border-radius: 5px;
}
#colorsIntro {
  margin: 10px 10px 10px 10px;
}
#colorsIntro h3 {
  padding-bottom: 10px;
}

#colors {
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
}
#colors h3 {
  padding: 20px 20px 10px 20px;
}
#colors .paletteContainer {
  display: flex;
}
.colorPalette {
  margin: 1% auto;
  width: 320px;
  padding: 20px 20px;
  border: 2px black solid;
  border-radius: 5px;
}

#colors ul{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

#colors ul li {
  border: 1px black solid;
  border-radius: 3px;
  height: 120px;
  width: 60px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  text-align: center;
}
  #blue_1 {
    background-color: hsl(220, 100%, 30%);
    color: hsl(220, 0%, 80%);
  }
  #blue_2 {
    background-color: hsl(220, 100%, 45%);
    color: hsl(220, 0%, 80%);
  }
  #blue_3 {
    background-color: hsl(220, 100%, 60%);
    color: hsl(220, 0%, 20%);
  }
  #blue_4 {
    background-color: hsl(220, 100%, 75%);
    color: hsl(220, 0%, 20%);
  }
  #blue_5 {
    background-color: hsl(220, 100%, 90%);
    color: hsl(220, 0%, 20%);
  }

  #orange_1 {
    background-color: hsl(40, 100%, 50%);
    color: hsl(220, 0%, 20%);
  }
  #orange_2 {
    background-color: hsl(40, 100%, 45%);
    color: hsl(220, 0%, 20%);
  }
  #orange_3 {
    background-color: hsl(40, 100%, 40%);
    color: hsl(220, 0%, 80%);
  }
  #orange_4 {
    background-color: hsl(40, 100%, 35%);
    color: hsl(220, 0%, 80%);
  }
  #orange_5 {
    background-color: hsl(40, 100%, 30%);
    color: hsl(220, 0%, 80%);
  }


#fonts h3 {
  padding: 20px 20px 10px 20px;
} 

.fontContainer {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px;
  border: 1px black solid;
  font-size: 20px;
}

#Roboto {
  font-family: "Roboto", "Times New Roman";
}
#Roboto300 {
  font-weight: 300;
}
#Roboto400 {
  font-weight: 400;
}
#Roboto400i {
  font-weight: 400;
  font-style: italic;
}
#Roboto500 {
  font-weight: 500;
}
#Roboto700 {
  font-weight: 700;
}
#Roboto700i {
  font-weight: 700;
  font-style: italic;
}

#Merriweather {
  font-family: "Merriweather Sans", "Times New Roman";
}
#Merriweather300 {
  font-weight: 300;
}
#Merriweather400 {
  font-weight: 400;
}
#Merriweather400i {
  font-weight: 400;
  font-style: italic;
}
#Merriweather500 {
  font-weight: 500;
}
#Merriweather700 {
  font-weight: 700;
}
#Merriweather700i {
  font-weight: 700;
  font-style: italic;
}